@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&family=Young+Serif&display=swap');


@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	width: auto;
}

div.all {
	max-width: 1220px;
	max-height: 1728px;
}

img.top {
	width: 715px;
	height: 477px;
	padding: 10px 12px;
}

h1 {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	color: #37393F;
	text-transform: capitalize;
	margin: 24px 12px 0px 12px;
	height: 86px;
	width: 692px;
}

.all p {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.47;
	color: #7D7D7D;
	width: 692px;
	height: 103px;
	margin: 3px 12px 42px 12px;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	color: #6B77E5;
	margin: 0px 12px 12px 12px;
	width: 692px;
	height: 54px;
}



div.inline-block {
	width: 1220px;
	height: 266px;
	padding-left: 12px;
}

div.inline {
	width: 332px;
	height: 263px;
	display: block;
	margin-top: -266px;
	margin-left: 403px;
}

img.content {
	width: 399px;
	height: 266px;
	margin: 0px 0px;
	padding-right: 16px;
}

.inline h3 {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 176px 15px 0px;
}

.inline h4 {
	color: #40DDB6;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 9px 21px 0px;
}

ul {
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	width: 313px;
}

li {
	padding-bottom: 30px;
}


div.jewerly {
	width: 1169px;
	height: 518px;
}

.jewerly h4 {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #D06B00;
	line-height: normal;
	padding: 21px 418px 13px 0px;
}

h5 {
	font-family: "DM Serif Text", sans-serif;
	font-size: 59px;
	font-weight: 400;
	color: #0E333D;
	line-height: 1.46;
	text-transform: capitalize;
	padding: 0px 37px 25px 0px;
	width: 526px;
	margin-right: 38px;
}

.jewerly p {
	width: 563px;
	height: 232px;
	color: #474747;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8;
}

div.image {
	display: block;
	margin: -518px 0px 0px 601px;
}

.image img {
	width: 273px;
	height: 518px;
}

.jew1 {
	margin-right: 22px;
}